 /* variáveis de cores */
 :root {
    --cor-fundo: #f4f4f4;
    --cor-texto: #333;
    --cor-cabecalho-fundo: #701741;
    --cor-cabecalho-texto: #fff;
    --cor-fundo-principal: #fff;
    --cor-borda-secao: #333;
    --cor-secao-fundo: #fafafa;
    --cor-rodape-fundo: #701741;
    --cor-rodape-texto: #fff;
    --cor-preto: rgb(0, 0, 0);
    --cor-branco: rgb(255, 255, 255);
    --cor-vermelho: rgb(255, 0, 0);
    --cor-verde: rgb(0, 255, 0);
    --cor-azul: rgb(0, 0, 255);
    --cor-amarelo: rgb(255, 255, 0);
    --cor-ciano: rgb(0, 255, 255);
    --cor-magenta: rgb(255, 0, 255);
    --cor-laranja: rgb(255, 165, 0);
    --cor-roxo-escuro: rgb(128, 0, 128);
    --cor-azul-claro: rgb(135, 206, 250);
    --cor-verde-musgo: rgb(85, 107, 47);
    --cor-rosa-claro: rgb(255, 182, 193);
    --cor-cinza-medio: rgb(169, 169, 169);
    --cor-marrom-avermelhado: rgb(139, 69, 19);
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}


header {
    background: linear-gradient(90deg, #9f0690, #9500b3);
    color: white;
    padding: 20px;
    font-size: 26px;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* conteúdo principal */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* seções */
section {
    width: 100%;
    max-width: 800px;
}

section #tabela-cores {
    border-left: none;
}

h1, h2 {
    color: var(--cor-texto);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
}

/* rodapé */
footer {
    background: var(--cor-rodape-fundo);
    color: var(--cor-rodape-texto);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* tabela de cores */
#preto {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
}

#branco {
    background-color: var(--cor-branco);
}

#vermelho {
    background-color: var(--cor-vermelho);
}

#verde {
    background-color: var(--cor-verde);
}

#azul {
    background-color: var(--cor-azul);
    color: var(--cor-branco);
}

#amarelo {
    background-color: var(--cor-amarelo);
}

#ciano {
    background-color: var(--cor-ciano);
}

#magenta {
    background-color: var(--cor-magenta);
}

#laranja {
    background-color: var(--cor-laranja);
}

#roxo-escuro {
    background-color: var(--cor-roxo-escuro);
    color: var(--cor-branco);
}

#azul-claro {
    background-color: var(--cor-azul-claro);
}

#verde-musgo {
    background-color: var(--cor-verde-musgo);
    color: var(--cor-branco);
}

#rosa-claro {
    background-color: var(--cor-rosa-claro);
}

#cinza-medio {
    background-color: var(--cor-cinza-medio);
}

#marrom-avermelhado {
    background-color: var(--cor-marrom-avermelhado);
    color: var(--cor-branco);
}

/* responsividade */
@media (max-width: 600px) {
    main {
        width: 95%;
        padding: 15px;
    }

    section {
        padding: 10px;
    }
    .cabecalho {
        background-color: red;
        color: white;
        text-align: center;
        padding: 20px;
    }
    
    .rodape {
        background-color: red;
        color: white;
        text-align: center;
        padding: 15px;
        margin-top: 20px;
    }
    
    .conteudo-central {
        background-color: red;
        padding: 20px;
        margin: 20px auto;
        width: 80%;
        border-radius: 8px;
        text-align: center;
        color: white;
    }

}